$body-bg: #FEFFEC;
$primary: #D63940;
$secondary: #5E1D53;
$danger: #F4633C;


$title: #FEF001;
$title-accent: #FD9A01;
$title-shadow: #690404;
$title-mg:2px;
$logo-mg:2px;
$logo-shadow: #FD9A01;
$logo-accent: #690404;
